`timescale 1ns / 10ps
/* verilator coverage_off */

module tb_bit_stuff ();

    localparam CLK_PERIOD = 10ns;

    initial begin
        $dumpfile("waveform.vcd");
        $dumpvars;
    end

    logic clk, n_rst;
    //inputs
    logic strobe;
    logic serial_in;
    //outputs
    logic serial_out;
    logic shift_enable;

    // clockgen
    always begin
        clk = 0;
        #(CLK_PERIOD / 2.0);
        clk = 1;
        #(CLK_PERIOD / 2.0);
    end

    task reset_dut;
    begin
        n_rst = 0;
        @(posedge clk);
        @(posedge clk);
        @(negedge clk);
        n_rst = 1;
        @(posedge clk);
        @(posedge clk);
    end
    endtask

    task initialize;
    begin
        strobe = 0;
        serial_in = 0;
    end
    endtask

    bit_stuff DUT (
        .clk(clk),
        .n_rst(n_rst),
        .strobe(strobe),
        .serial_in(serial_in),
        .serial_out(serial_out),
        .shift_enable(shift_enable)
    );

    initial begin
        n_rst = 1;
        initialize;
        reset_dut;
        @(negedge clk);

        strobe = 1;
        serial_in = 1;
        repeat(28) @(negedge clk);


        $finish;
    end
endmodule

/* verilator coverage_on */

